<div class="fixed-bottom progress-holder">
  <div class="page-indicator">
    Page&nbsp;<%= @assessment.status %>&nbsp;of&nbsp;<%= Assessment.pages.count %>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active"
      role="progressbar" aria-valuenow="<%=@assessment.percent_complete%>"
      aria-valuemin="0" aria-valuemax="100"
      style="width: <%=width_percentage(@assessment)%>%">
      <span><%= @assessment.percent_complete %>%</span>
    </div>
  </div>
</div>

<script type="text/javascript">
  // TODO: set style on
  // class="progress-bar progress-bar-striped active" style="width: 5%"
</script>
