<div class="sub-menu shrink-mobile">
  <h3 class='no-border'><a href="<%=conversations_path%>">Conversations</a></h3><h3 class='no-border'>&nbsp;>&nbsp;</h3><h3><span class="sender-modal info-modal" data-toggle="modal" data-target="#infoModal" data-populate-modal-with="<%=user_modal_content_path(@receiver.id)%>"><%= @receiver.name %></span></h3>
</div>
<div id="conversation-main" class="container container-card no-padding">
  <%= render partial: 'conversations/conversation_header' %>
  <div id="conversation-body">
    <div class="messages">
      <div class="new-message">
        <div class="image-holder info-modal" data-toggle="modal" data-target="#infoModal" data-populate-modal-with="<%=user_modal_content_path(@receiver.id)%>">
          <%= raw user_photo_content(@receiver, :medium) %>
        </div>
        <h4>This is the beginning of your message history with <%= @receiver.name %></h4>
      </div>
    </div>
    <div class="new-message-bar">
      <%= form_for @message do |f| %>
        <%= hidden_field_tag 'receiver_id', @receiver.id %>
        <%= f.text_area :body, required: true, placeholder: "Say Hello to #{@receiver.name}!" %>
        <% if @connection %>
          <%= hidden_field_tag 'connection_id', @connection.id %>
        <% end %>
        <div class="button-holder">
          <div class = 'send-button info-modal'>
            <i class="send outline icon"></i>
          </div>
        </div>
        <%= f.submit "send", class: 'send-message', hidden: true %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'conversations/message_js.html.erb' %>
