<div class="close-x" data-dismiss="modal" aria-label="Close">&Cross;</div>
  <div class="row show-row">
   <div class="col-sm-12">
     <h2><%=user.name%></h2>
   </div>
  </div>
  <div class="row show-row">
  <div class="col-sm-6">
  <div class="show-photo">
    <% if user && user.photo.exists? %>
      <%= image_tag user.photo.url(:medium) %>
    <% elsif user %>
      <div class='text'>
        <%= user.no_image_text %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12">
        <div class='section-title'>Competencies</div>
        <p>
          <% user.competencies.each do |c| %>
            <span><%= c.name %></span>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class='section-title'>Desired Company Traits</div>
        </p>
          <% user.company_traits.each do |t| %>
            <span><%= t.name %></span>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class='section-title'>Personality Traits</div>
        <p>
          <% user.personality_traits.each do |t| %>
            <span><%= t.name %></span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="row show-row full">
  <div class="col-sm-12">
    <div class='section-title'>Location</div>
    <div class='section-content'><%= Geocoder.city(user) %></div>
  </div>

  <div class="col-sm-12">
    <div class='section-title'>Documents</div>
    <ul class='section-content'>
      <% if documents(user).empty? %>
        <li>None Provided</li>
      <% else documents(user).each do |title, link| %>
          <li> <%= link_to title, link %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="divider"></div>
<div class="row show-row full">
  <div class="col-sm-12">
    <div class='section-title'>Personality Type: <%=user.personality.name%></div>
    <div class='section-content'>this is wehre the personality type information will go</div>
  </div>

</div>
