<%= render partial: 'sub_header_connections' %>
<div class="container container-card no-overflow">
  <% if !@connections.blank? %>
    <% if current_user.recruiter? %>
      <% if params[:type] == 'job' %>
        <%= render partial: 'recommendations/connection_components/recruiter_job_connections' %>
      <% else %>
        <%= render partial: 'recommendations/connection_components/recruiter_company_connections' %>
      <% end %>
    <% else %>
      <% if params[:type] == 'job' %>
        <%= render partial: 'recommendations/connection_components/candidate_job_connections' %>
      <% else %>
        <%= render partial: 'recommendations/connection_components/candidate_company_connections' %>
      <% end %>
    <% end %>
  <% else %>
    <div class="no-items">
      <h3>You have no connections!</h3>
    </div>
  <% end %>
</div>
<%= render partial: 'jquery_components' %>
