<div class="sub-menu navigation">
  <ul>
    <% connection_sub_links(current_user).each do |name, attributes| %>
      <li> <%= link_to name, attributes[0], class: attributes[1] %></li>
    <% end %>
  </ul>
</div>
<div class="container container-card">
  <div class="header-bar">
    <h1 style="display:inline;">recommendations</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">candidate</th>
        <th scope="col" colspan="3">actions</th>
      </tr>
    </thead>

    <tbody>
      <% @recommendations.each do |recommendation| %>
        <tr class="rec-row-<%=recommendation.id%>">
          <td><%= recommendation.type.to_s.humanize %></td>
          <td><%= recommendation.candidate.name %></td>
          <td><button class="button btn-standard act-recommendation" data-link="<%=act_on_recommendation_path(recommendation)%>?accept=true">Accept</button>|<button class="button btn-standard" data-link="<%=act_on_recommendation_path(recommendation)%>?deny=true">Deny</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $('.act-recommendation').click(function(){
    $.ajax({
      url: $(this).data('link'),
      type: 'post',
      dataType: 'json',
      success: function(data) {
        if (data.result=='success') {
          $(".rec-row-"+data.recommendation.id).fadeOut()
        } else {
          alert('hm, how embarassing. something went wrong')
        }
      }
    });
  })
</script>
