<%= render partial: 'sub_header_connections' %>
<div class="container container-card no-overflow no-padding">
  <% if !@recommendations.blank? %>
    <% if current_user.recruiter? %>
      <% if params[:type] == 'job' %>
        <%= render partial: 'recommendations/recommendation_components/recruiter_job_recommendations' %>
      <% else %>
        <%= render partial: 'recommendations/recommendation_components/recruiter_company_recommendations' %>
      <% end %>
    <% else %>
      <% if params[:type] == 'job' %>
        <%= render partial: 'recommendations/recommendation_components/candidate_job_recommendations' %>
      <% else %>
        <%= render partial: 'recommendations/recommendation_components/candidate_company_recommendations' %>
      <% end %>
    <% end %>
  <% else %>
    <div class="no-items">
      <h3>You have no recommendations!</h3>
    </div>
  <% end %>
</div>
<%= render partial: 'jquery_components' %>
