<div class="container admin-container">
  <%= link_to 'Manage Traits', admin_traits_path, class: 'btn btn-primary' %>&nbsp;
  <%= link_to 'Manage Competencies', admin_competencies_path, class: 'btn btn-primary' %>&nbsp;
  <%= link_to 'Manage Companies', admin_companies_path, class: 'btn btn-primary' %>&nbsp;
  <%= link_to 'Manage Job Postings', admin_job_postings_path, class: 'btn btn-primary' %>&nbsp;
  <%= link_to 'Manage Industries', admin_industries_path, class: 'btn btn-primary' %>&nbsp;
</div>
