<div class="sub-menu shrink-mobile">
  <h3 class='no-border'><a href="<%=conversations_path%>">Conversations</a></h3><h3 class='no-border'>&nbsp;>&nbsp;</h3><h3><span class="sender-modal info-modal" data-toggle="modal" data-target="#infoModal" data-populate-modal-with="<%=user_modal_content_path(@receiver.id)%>"><%= @receiver.name %></span></h3>
</div>

<div id="conversation-main" class="container container-card no-padding">
  <%= render partial: 'conversations/conversation_header' %>
  <div id="conversation-body">
    <div class="messages" id='messages'>
      <%= render @conversation.messages %>
    </div>
  <div class="new-message-bar">
    <%= form_for @message do |f| %>
      <%= hidden_field_tag 'conversation_id', @conversation.id %>
      <%= f.text_area :body, placeholder: "Message #{@receiver.name}"  %>
      <div class="button-holder">
        <div class = 'send-button info-modal'>
          <i class="send outline icon"></i>
        </div>
      </div>
      <%= f.submit "send", class: 'send-message', hidden: true %>
    <% end %>
  </div>
</div>
<%= render partial: 'conversations/message_js.html.erb' %>
