<%= form_for([:admin, @user], html: {class: 'form-horizontal'}) do |f| %>

  <% if @user && !@user.errors.empty? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.messages.each do |key, val| %>
          <% if !val.empty? %>
            <li><%= key.to_s.titleize %> <%= val.first.tr('"','') %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= bsh_text_field f,
    name: :name,
    placeholder: t('users.fields.name'),
    label: t('users.fields.name') %>

  <%= bsh_text_field f,
    name: :username,
    placeholder: t('users.fields.username'),
    label: t('users.fields.username') %>

  <%= bsh_text_field f,
    name: :email,
    placeholder: t('users.fields.email'),
    label: t('users.fields.email') %>

  <%= bsh_text_field f,
    name: :organization,
    placeholder: t('users.fields.organization'),
    label: t('users.fields.organization') %>

  <% if current_user.admin? %>
    <%= bsh_check_box_field f,
      name: :admin,
      label: t('users.fields.admin'),
      help: "This user is a system administrator (control over all projects and users." %>
  <% end %>

  <%= bsh_check_box_field f,
    name: :pre_approver,
    label: t('users.fields.pre_approver'),
    help: "This user can move EUs from Pre-Approval to Approval C." %>

  <%= bsh_check_box_field f,
    name: :donor,
    label: t('users.fields.donor'),
    help: "This user can view donor reports." %>

  <%= bsh_check_box_field f,
    name: :iti,
    label: t('users.fields.iti'),
    help: "This user can view ITI shared data." %>

  <div id = "hidden_passwords", hidden = "true">
    <%= bsh_password_field f,
      name: :password,
      placeholder: t('users.fields.new_password_placeholder'),
      label: t('users.fields.new_password') %>

    <%= bsh_password_field f,
      name: :password_confirmation,
      placeholder: t('users.fields.new_password_confirmation'),
      label: t('users.fields.new_password_confirmation') %>
  </div>

  <div class="form-group form-group-bottom">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit t('.save'), class: 'btn btn-primary' %>
      <button type="button" class= "btn btn-primary", id= "enable_password"> <%= t('.change_password') %> </button>
    </div>
  </div>
<% end %>
