<h1><%= t('.viewing_user') %></h1>

<%= link_to t('.back'), admin_users_path %> &middot;
<%= link_to t('.edit'), edit_admin_user_path(@user) %>
<hr/>
<% if @user.invitation_accepted_at.nil? %>
  <p class="text-info">
    <span><%= t '.new_user' %></span> &nbsp;
    <%= button_to t('.send_invitation'), resend_invite_path(id: @user.id), { class: 'btn btn-primary', method: :post } %> <%=  %></a>
  </p>
  <hr/>
<% end %>

<p>

  <strong><%= t('users.fields.name') %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('users.fields.username') %>:</strong>
  <%= @user.username %>
</p>

<p>
  <strong><%= t('users.fields.email') %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('users.fields.organization') %>:</strong>
  <%= @user.organization %>
</p>

<p>
  <strong><%= t('users.fields.admin') %>:</strong>
  <%= @user.admin ? t('.yes') : t('.no') %>
</p>

<p>
  <strong><%= t('users.fields.pre_approver') %>:</strong>
  <%= @user.pre_approver ? t('.yes') : t('.no') %>
</p>

<p>
  <strong><%= t('users.fields.donor') %>:</strong>
  <%= @user.donor ? t('.yes') : t('.no') %>
</p>

<p>
  <strong><%= t('.projects') %>:</strong>
  <ul>
    <% @user.project_memberships.each do |pm| %>
      <li>

        <a href="<%= url_for [:admin, pm.project] %>"><%= pm.project.title %></a>:
        <% pm.roles.each do |role| %>
          <span class="label label-default">
            <%= t("projects.roles.#{role}") %>
          </span>&nbsp;
        <% end %>
      </li>
    <% end %>
  </ul>
</p>
