<%= form_for(user, url: update_core_info_path) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">

    <% if user.photo.exists? %>
      <%= image_tag user.photo.url(:thumb) %><br/>
      <%= f.label "Upload a different Resume", for: 'user_photo'%>
      <%= f.file_field :photo %>

    <% else %>
      <%= f.label :photo, for: 'user_photo'%>
      <%= f.file_field :photo %>
    <% end %>
  </div>
  <div class="form-group">
      <%= f.label :name, for: 'user_name'%>
      <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
      <%= f.label :email, for: 'user_email'%>
      <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone, for: 'user_phone'%>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :country, for: 'user_country'%>
      <%= f.country_select :country, :include_blank => true, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :zip_code, for: 'user_zip_code'%>
      <%= f.text_field :zip_code, class: 'form-control' %>
  </div>
  <% if current_user.candidate? %>
    <div class="form-group">
      <%= f.label :felony, for: 'user_felony'%>
      <%= f.select :felony, User.felonies.keys.map { |w| [w.humanize, w] }, :include_blank => true %>
    </div>

    <div class="form-group">
      <%= f.label :us_lawfully_authorized, for: 'user_us_lawfully_authorized'%>
      <%= f.select :us_lawfully_authorized, [['Yes', true], ['No', false]], selected: true %>
    </div>

    <div class="form-group">
      <%= f.label :require_sponsorship, for: 'user_require_sponsorship'%>
      <%= f.select :require_sponsorship, [['Yes', true], ['No', false]], selected: false %>
    </div>
    <div class="form-group">

      <% if user.resume.exists? %>
        <%= link_to user.resume.original_file_name user.resume.url %><br/>
        <%= f.label "Upload a different Resume", for: 'user_resume'%>
        <%= f.file_field :resume %>

      <% else %>
        <%= f.label :resume, for: 'user_resume'%>
        <%= f.file_field :resume %>
      <% end %>
    </div>
    <div class="form-group">

      <% if user.writing_sample.exists? %>
        <%= link_to user.writing_sample.original_file_name user.writing_sample.url %><br/>
        <%= f.label "Upload a different Writing Sample", for: 'user_writing_sample'%>
        <%= f.file_field :writing_sample %>

      <% else %>
        <%= f.label :writing_sample, for: 'user_writing_sample'%>
        <%= f.file_field :writing_sample %>
      <% end %>
    </div>
    <div class="form-group">
      <% if user.transcript.exists? %>
        <%= link_to user.transcript.original_file_name user.transcript.url %><br/>
        <%= f.label "Upload a different Transcript", for: 'user_transcript'%>
        <%= f.file_field :transcript %>

      <% else %>
        <%= f.label :transcript, for: 'user_transcript'%>
        <%= f.file_field :transcript %>
      <% end %>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit "Finished", class: 'button btn standard' %>
  </div>
<% end %>
