<% @recommendations.each do |recommendation| %>
  <div class="rec-row single-circle" id="rec-<%=recommendation.id%>">
    <div class="left-photo">
      <div class="circle-photo info-modal" data-toggle="modal" data-target="#infoModal" data-populate-modal-with="<%=job_modal_content_path(recommendation.job_posting.id)%>" >
        <%# TODO: look at trailmonkeez for this modal flow %>
        <%= image_tag recommendation.job_posting.company.logo.url(:medium) %>
      </div>
      <div class="mobile-actions">
        <i class="remove circle outline icon act-recommendation" data-link="<%=act_on_recommendation_path(recommendation)%>?deny=true"></i>
        <i class="check circle outline icon act-recommendation" data-link="<%=act_on_recommendation_path(recommendation)%>?accept=true"></i>
      </div>
    </div>
    <div class="middle-info">
      <h3 data-toggle="modal" data-target="#infoModal" class="info-modal" data-populate-modal-with="<%=job_modal_content_path(recommendation.job_posting.id)%>">
        <%= recommendation.job_posting.title %>
        <%# TODO: add a cool modal here that will show the user what matched and what didn't %>
        <div class="score-circle" data-toggle="tooltip" data-placement="top" title="Job Fit Score">
          <span><%= percentize recommendation.score %></span>
        </div>

      </h3>
      <h4><%= recommendation.job_posting.try(:zip_code) %></h4>
      <p>
        <% recommendation.matching_traits.limit(3).each do |trait| %>
        <span class='match-items'><%= trait.name %></span>
        <% end %>
        <span class='match-items info-modal' data-toggle="modal" data-target="#infoModal" data-populate-modal-with="<%=job_modal_content_path(recommendation.job_posting.id)%>">...</span>
      </p>

    </div>
    <div class="recommendation-actions">
      <i class="check circle outline icon act-recommendation" data-link="<%=act_on_recommendation_path(recommendation)%>?accept=true" data-toggle="tooltip" data-placement="left" title="Accept Recommendation"></i>
      <i class="remove circle outline icon act-recommendation" data-link="<%=act_on_recommendation_path(recommendation)%>?deny=true" data-toggle="tooltip" data-placement="left" title="Deny Recommendation"></i>
    </div>
  </div>
  <div class="divider"></div>

<% end %>
<div class="no-items" style='display:none;'>
  <h3>No new recommendations!</h3>
</div>
