<div class="home-full-width hero">
  <div class="overlay">
  </div>
  <div class="hero-content">
    <h1>Trust Transparency</h1>
    <div class="header-caption">
      This thing called work-life integration is not some hipster-ish trend.
      It's realism.  It's a reality we desire to provide for every employee,
      and teach to employers.
    </div>
    <div class="hero-actions">
      <a href="mailto:getunboxt@getunboxt.com?Subject=Hi%20there!&Body=Hi!%20My%20name%20is..%20and%20I'm%20interested%20in%20learning%20more%20about.." class="button btn-alternate">Learn More</a>
      <%= link_to "Sign Up", new_user_registration_path, class: "button btn-standard" %>
    </div>
  </div>
</div>
<div class="home-full-width section-one">
  <div class="row section-content">
    <div class="col-sm-4 image-section">
      <div class="image-center">
        <div class="circle-section-image man-woman"></div>
      </div>
    </div>
    <div class="col-sm-8 text-section">
      <h2>The Story</h2>
      <div class="explanation">
        unboXt is a service powered by technology. We take a scientifically
        proven approach to helping match a company’s needs to a candidate’s
        desires. During the initial hiring process, our platform ensures
        companies and candidates are matched based on technical skill and
        personal and cultural alignments.
        <br>
        <br>
        Yesterday’s question was, “can they get the job done?” Today, the more relevant question
        is “will they stay?”
      </div>
      <%= link_to "Sign Up", new_user_registration_path, class: "button btn-standard center" %>
    </div>
  </div>
</div>
<div class="home-full-width section-two">
  <div class="row section-content">
    <div class="col-sm-7 text-section">
      <h2 style="margin: auto; margin-bottom: 20px;">Our Difference</h2>
      <h4>The Posters (Job Posting Websites)</h4>
      <div class="explanation-multiple">
        They allow users to see what is out there without much insight into who
        is out there and whether they will be committed. Do not source talent
        based solely on a resume. Posting a job will keep the candidate pipeline
        full. The true question is “full of what?”
      </div>
      <h4>The House (Applicant Tracking Systems)</h4>
      <div class="explanation-multiple">
        Times have evolved from creating massive excel spreadsheets to keep
        track of candidates. The new mousetrap is the Applicant Tracking System
        (ATS), which is essentially a house of data. Unfortunately, these houses
        lack the selectiveness to determine who the best candidates are for the
        hiring team.
      </div>
      <h4>The Virtual Yellow Pages (Professional Social Networks)</h4>
      <div class="explanation-multiple">
        The Yellow Pages was useful book in their time. Although limiting in the
        information provided, a user could answer where (location) and who
        (name). Today, instead of a tangible yellow pages, corporations have a
        been forced to use a virtual one for candidates.
      </div>
      <div style="display: table; margin: auto;">
        <a href="mailto:getunboxt@getunboxt.com?Subject=Hi%20there!&Body=Hi!%20My%20name%20is..%20and%20I'm%20interested%20in%20learning%20more%20about.." class="button btn-standard dual-together">Learn More</a>
        <%= link_to "Sign Up", new_user_registration_path, class: "button btn-alternate dual-together" %>

      </div>
    </div>
    <div class="col-sm-5 image-section">
      <div class="image-center">
        <%= image_tag "yellow-tablet-web.jpg" %>
      </div>

    </div>
  </div>
</div>
<div class="home-full-width section-three">
  <div class="container">
    <h2 style="margin: auto;">Convictions</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="conviction-card">
          <div class="icon-holder">
            <i class="balance scale icon"></i>
          </div>
          <div class="conviction-header">
            Work-Life Balance
          </div>
          <div class="conviction-text">
            is an illogical idea, and does not work. No pun intended.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="conviction-card">
          <div class="icon-holder">
            <i class="building icon"></i>
          </div>
          <div class="conviction-header">
            Companies
          </div>
          <div class="conviction-text">
            are not inherently evil. Just as millennials are not innately lazy.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="conviction-card">
          <div class="icon-holder">
            <i class="chart pie icon"></i>
          </div>
          <div class="conviction-header">
            Work-Life Integration
          </div>
          <div class="conviction-text">
            needs to be the next paradigm shift.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="conviction-card restricted left">
          <div class="icon-holder">
            <i class="comments icon"></i>
          </div>
          <div class="conviction-header">
            Companies and Candidates
          </div>
          <div class="conviction-text">
            alike have an alluring story to tell.
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="conviction-card restricted right">
          <div class="icon-holder">
            <i class="address card icon"></i>
          </div>
          <div class="conviction-header">
            Companies Should Not
          </div>
          <div class="conviction-text">
            hire for jobs. But instead hire for lifestyles.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-full-width footer">
  <%= image_tag "white-x.png", width: "90px", class: "footer-image"%>
  <div class="row">
    <div class="col-sm-6">
      <h5>CONTACT INFO</h5>
      unboXt, Inc.
      <br>
      1728 Laurel Creek Circle lithonia ga 30058
      <br>
      770.609.9418
      <br>
      getunboXt@getunboXt.com
      <p></p>
    </div>
    <div class="col-sm-6">
      <h5>SITEMAP</h5>
      <%= link_to "Home", root_path %>
      <br>
      <%= link_to "Log In", new_user_session_path %>
      <br>
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>

  </div>
  <div class="footer-divider"></div>
  Copyright &copy; 2018. unboXt. All Rights Reserved
</div>
