<div class="sub-menu navigation" id="secondaryFix">
  <ul>
    <% job_sub_links(current_user).each do |name, attributes| %>
      <li> <%= link_to name, attributes[0], class: attributes[1] %></li>
    <% end %>
  </ul>
</div>
<div class="container container-card no-overflow">
  <% if !@job_postings.blank? %>
    <% @job_postings.each do |job_posting| %>
      <div class="rec-row single-circle">
        <div class="left-photo">
          <div class="circle-photo info-modal" data-toggle="modal" data-target="#infoModal" data-populate-modal-with="<%=job_modal_content_path(job_posting.id)%>" >
            <%# TODO: look at trailmonkeez for this modal flow %>
            <%= image_tag job_posting.company.logo.url(:medium) %>
          </div>
          <!-- <div class="mobile-actions single">
            <i class="mail outline icon"></i>
          </div> -->
        </div>
        <div class="middle-info">
          <h3>
            <span data-toggle="modal" data-target="#infoModal" class="info-modal" data-populate-modal-with="<%=job_modal_content_path(job_posting.id)%>">
              <%= job_posting.title %>
            </span>&nbsp;&nbsp;
            <% if job_posting.participant?(current_user) %>
              <a href="<%=edit_job_posting_path(job_posting)%>"><i class="write icon job-actions"></i></a>
              <a href = "<%=job_posting_path(job_posting)%>" data-confirm= "Are you sure you want to remove this job?", data-method = "delete")>
                <i class="trash outline icon job-actions"></i>
              </a>
            <% end %>
            <%# TODO: add a cool modal here that will show the user what matched and what didn't %>

          </h3>
          <h4><%= Geocoder.city(job_posting) %></h4>
          <p>
            <%= time_ago(job_posting.created_at) %>
          </p>

        </div>
        <!-- <div class="recommendation-actions single">
          <i class="mail outline icon"></i>
        </div> -->
      </div>
      <div class="divider"></div>

    <% end %>
    <div class="no-items" style='display:none;'>
      <h3>No Job Postings yet!</h3>
    </div>

  <% else %>
    <div class="no-items">
      <h3>No Company Job Postings yet!</h3>
    </div>
  <% end %>
</div>
